* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Roboto;
}

.userInterface {
  position: absolute;
  z-index: 2;
  padding: 20px;
}

.controls-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30vw;
}

.control-group {
  background-color: #aaaaaa55;
}

.control {
  margin: 5px;
}

.slider {
  display: flex;
  align-items: center;
}
