* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.controls-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70vh;
}

.userInterface {
  position: absolute;
  z-index: 2;
}
